IMAGE_NAME=docker.io/fr33dman/thragg-project-embedding-service
LOGGER_LEVEL=info
SERVER_HOST=0.0.0.0
SERVER_API_PORT=8000
SERVER_HEALTHCHECK_PORT=8081
SERVER_METRICS_PORT=9090
EMBEDDINGS_CONFIG_BASE64=eyJwcm92aWRlcnMiOlt7Im5hbWUiOiJvcGVuYWkiLCJ0eXBlIjoib3BlbmFpX2NvbXBhdGlibGUiLCJiYXNlX3VybCI6Imh0dHBzOi8vYXBpLm9wZW5haS5jb20vdjEiLCJhcGlfa2V5IjoiY2hhbmdlLW1lIiwidGltZW91dCI6IjMwcyJ9XSwibW9kZWxzIjpbeyJuYW1lIjoidGV4dC1lbWJlZGRpbmctMy1zbWFsbCIsInByb3ZpZGVyIjoib3BlbmFpIiwidXBzdHJlYW1fbW9kZWwiOiJ0ZXh0LWVtYmVkZGluZy0zLXNtYWxsIiwiZGltZW5zaW9ucyI6MTUzNiwibWF4X2lucHV0X3Rva2VucyI6ODE5MSwibXVsdGlsaW5ndWFsIjp0cnVlLCJlbmFibGVkIjp0cnVlfV19
